.container.margin-top50
  %h2.u-margin-bottom-md.text-center
    Learn more

  .grid-layout.grid-layout3

    = link_to "/webcast/automate-security-ci/", class: "tile-resource grid-item" do
      .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
      .tile-info
        %h4.tile-title
          From DevOps to DevSecOps: Automate your security tests with CI
        %p.tile-description
          Join us on June 18 to learn how to secure your CI pipeline using GitLab built-in security features so you can catch potential errors and vulnerabilities in the codebase before they turn into bigger problems.
        %p.tile-link
          Save your spot
          %i.fas.fa-arrow-right

      = link_to "/webcast/mind-merge-request-leadership-qa/", class: "tile-resource grid-item" do
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            Mind-Merge Request: Q&A with GitLab Leadership
          %p.tile-description
            Join us for a LIVE Q&A with GitLab leadership on remote work. Hear best practices and bring any questions you'd like addressed!
          %p.tile-link
            Save your spot
            %i.fas.fa-arrow-right

      = link_to "/compare/jenkins-alternative/", class: "tile-resource grid-item" do
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            GitLab CI/CD advantages over Jenkins demo
          %p.tile-description
            See the advantages of GitLab built-in CI/CD over Jenkins CI plugin solution.
          %p.tile-link
            Watch now
            %i.fas.fa-arrow-right
