!!! 5
%html{lang: "en", class: 'html--no-js'}
  %head
    = partial "includes/layout/head"
  %body{:data => {:spy => "scroll", :target => ".qnav", offset: "90"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    = yield
    = partial "includes/layout/footer", locals: current_page.data.monorepo_site ? {monorepo_site: current_page.data.monorepo_site} : {}
